<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.wms.outstorage.order.mapper.SyncOrderMapper">

    <!-- 查找详情 2019-12-25-->
    <select id="getById" resultType="com.apl.wms.outstorage.order.pojo.vo.SyncOutOrderInfoVo">
        SELECT
           id,
           customer_id,
           store_id,
           ec_platform_code,
           order_start_time,
           order_end_time,
           status,
           cr_time
        FROM
           sync_out_order
        where
           id = #{id}
    </select>

    <!-- 查找列表 2019-12-25-->
    <select id="getList" resultType="com.apl.wms.outstorage.order.pojo.vo.SyncOutOrderListVo">
        SELECT
           id,
           customer_id,
           store_id,
           ec_platform_code,
           order_start_time,
           order_end_time,
           status,
           cr_time
        FROM
           sync_out_order
        where
          1=1
          <if test="kd.customerId != null and kd.customerId>0">
            and customer_id = #{kd.customerId}
          </if>
          <!--<if test="kd.startStamp != null and kd.endStamp != null">
              and ((order_start_time &lt;= #{kd.startStamp} and order_end_time &gt;= #{kd.startStamp})
                or (order_start_time &lt;= #{kd.endStamp} and order_end_time &gt;= #{kd.endStamp}) )
          </if>-->
          <if test="kd.startStamp != null and kd.endStamp != null">
            and ((#{kd.startStamp} &lt;=order_start_time  and #{kd.endStamp}&gt;=order_start_time)
            or (#{kd.startStamp} &lt;=order_end_time  and #{kd.endStamp}&gt;=order_end_time) )
          </if>
          <if test="kd.startStamp != null and kd.endStamp == null">
            and (order_start_time &lt;= #{kd.startStamp} and order_end_time &gt;= #{kd.startStamp})
          </if>
          <if test="kd.startStamp == null and kd.endStamp != null">
            and (order_start_time &lt;= #{kd.endStamp} and order_end_time &gt;= #{kd.endStamp})
          </if>
          <if test="kd.status != null and kd.status>0">
            and status = #{kd.status}
          </if>
          <if test="kd.storeId != null and kd.storeId>0">
            and store_id = #{kd.storeId}
          </if>
          <if test="kd.ecPlatformCode != null and kd.ecPlatformCode.length>0">
            and ec_platform_code = #{kd.ecPlatformCode}
          </if>
        order by id desc
    </select>


    <!-- 更新状态 2019-12-25-->
    <update id="updStatus">
      update  sync_out_order  set status=#{status}
      where id=#{id}
        <if test="customerId != null and customerId>0">
            AND customer_id =  #{customerId}
        </if>
    </update>


    <!-- 检查记录是否重复 -->
    <select id="exists" resultType="integer">
        SELECT
          id
        FROM
          sync_out_order
        WHERE
          store_id = #{storeId} AND  order_start_time &lt;= #{orderStartTime} AND order_end_time &gt;= #{orderEndTime}
        <if test="id != null and id>0">
            AND id !=  #{id}
        </if>
    </select>

    <!-- 根据店铺id，获取最后一个任务的时间及状态 -->
    <select id="getLastSync" resultType="com.apl.wms.outstorage.order.pojo.vo.SyncOutOrderInfoVo">
        SELECT
           id,
           order_start_time,
           order_end_time,
           status
        FROM
           sync_out_order
        where
           id=(select max(id) from sync_out_order where status!=4 and store_id=#{storeId})
    </select>


    <!-- 启动任务 -->
    <select id="bootTask" resultType="com.apl.wms.outstorage.order.lib.pojo.bo.SyncOutOrderTaskBo">
        SELECT
           id,
           customer_id,
           store_id,
           ec_platform_code,
           order_start_time,
           order_end_time,
           status,
           inner_org_id
        FROM
           sync_out_order
        where
           id = #{id}
        <if test="customerId != null and customerId>0">
            AND customer_id =  ${customerId}
        </if>
    </select>

    <!-- 获取任务状态 -->
    <select id="getStatus" resultType="int">
        SELECT
          status
        FROM
          sync_out_order
        where
          id = #{id}
    </select>

</mapper>
