<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.wms.outstorage.operator.dao.PickMapper">


    <!-- 分页查找 第2步, 根据ids查找订单列表-->
    <select id="getListByOrderSns" parameterType="java.util.List"
            resultType="com.apl.wms.outstorage.operator.pojo.vo.OutOrderPickListVo">
        SELECT
        id as orderId,
        order_sn,
        order_status,
        pull_status,
        cr_time
        FROM
        out_order
        where
        order_sn in (
            <foreach collection="orderSns" open="" separator="," close="" item="row">
                ${row}
            </foreach>
        )
    </select>


    <select id="queryOrderPickInfoByPage" resultType="com.apl.wms.outstorage.operator.pojo.vo.OutOrderPickListVo">

        SELECT
            id as orderId,
            order_sn,
            order_status,
            pull_status,
            cr_time,
            customer_id,
            pull_operator_id,
            order_from
        FROM
            out_order
        <where>
            1=1
            and
            order_status = 3
            <if test="kd.whId != null and kd.whId != 0">
                and wh_id = #{kd.whId}
            </if>
            <if test="kd.pullStatus != null and kd.pullStatus > 2">
                and pull_status = #{kd.pullStatus}
            </if>

            <if test="kd.pullStatus != null and kd.pullStatus == 0">
                and pull_status != 1
                and pull_status != 2
            </if>

            <if test="kd.customerId != null and kd.customerId !=''">
                and customer_id = #{kd.customerId}
            </if>

            /*如果拣货状态等于3 表示未分配拣货员 查询拣货员id为0的所有信息*/
            <if test="kd.pullStatus != null and kd.pullStatus == 3 ">
                and pull_operator_id = 0
            </if>

            /*如果拣货状态等于4 表示已分配拣货员 查询拣货员Id大于0的所有信息*/
            <if test="kd.pullStatus != null and kd.pullStatus == 4 ">
                and pull_operator_id > 0
            </if>

            <if test="kd.pullStatus > 3 and kd.pullOperatorId != null and kd.pullOperatorId > 0">
                and pull_operator_id = #{kd.pullOperatorId}
            </if>

            <if test="kd.orderSn != null and kd.orderSn != ''">
                and locate(#{kd.orderSn} , order_sn) > 0
            </if>

        </where>

    </select>

    <update id="updateOrderPickingMember">
        update out_order
            set pull_status = 4, pull_operator_id = ${pullOperatorId}
        where
            id in (
            <foreach collection="ids" open="" separator="," close="" item="row">
                ${row}
            </foreach>
            )

    </update>
</mapper>