<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apl.wms.outstorage.operator.dao.PickMapper">


    <!-- 分页查找 第2步, 根据ids查找订单列表-->
    <select id="getListByOrderSns" parameterType="java.util.List"
            resultType="com.apl.wms.outstorage.operator.pojo.vo.OutOrderPickListVo">
        SELECT
        id as orderId,
        order_sn,
        order_status,
        pull_status,
        cr_time
        FROM
        out_order
        where
        order_sn in (
            <foreach collection="orderSns" open="" separator="," close="" item="row">
                ${row}
            </foreach>
        )
    </select>


    <select id="queryOrderPickInfoByPage" resultType="com.apl.wms.outstorage.operator.pojo.vo.OutOrderPickListVo">

        SELECT
        oo.id as orderId,
        oo.order_sn,
        oo.order_status,
        oo.pull_status,
        oo.cr_time,
        oo.customer_id,
        oo.pull_operator_id,
        oo.order_from
        FROM
        out_order as oo
        <where>
            oo.order_status = 3
            <if test="kd.whId != null and kd.whId != 0">
            and oo.wh_id = #{kd.whId}
            </if>
            <if test="kd.pullStatus != null and kd.pullStatus > 2">
                and oo.pull_status = #{kd.pullStatus}
            </if>
            <if test="kd.customerId != null and kd.customerId !=''">
                and oo.customer_id = #{kd.customerId}
            </if>
            <if test="kd.pullOperatorId != null and kd.pullOperatorId != ''">
                and oo.pull_operator_id = #{kd.pullOperatorId}
            </if>
            <if test="kd.orderSn != null and kd.orderSn != ''">
                and locate(#{kd.orderSn} , oo.order_sn) > 0
            </if>
            <if test="kd.startTime != null and kd.endTime != null">
                and oo.cr_time between #{kd.startTime} and #{kd.endTime}
            </if>

        </where>

    </select>

    <update id="updateOrderPickingMember">
        update out_order
            set pull_status = 4, pull_operator_id = ${pullOperatorId}
        where
            id in (
            <foreach collection="ids" open="" separator="," close="" item="row">
                ${row}
            </foreach>
            )

    </update>
</mapper>